@import "@/styles/breakpoints";

.root {
  height: calc(100dvh - 112px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: var(--header-height-lg);

  @media (width <= $breakpoint-lg) {
    margin-top: var(--header-height-md);
  }

  @media (width <= $breakpoint-md) {
    margin-top: var(--header-height-sm);
  }

  gap: 30px;
}
