@import "@/styles/breakpoints";

.root {
  width: 35%;

  @media (width <= $breakpoint-lg) {
    width: 50%;
  }

  @media (width <= $breakpoint-md) {
    width: 90%;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .submitButton {
      margin-top: 8px;
    }
  }
}
