.root {
  background-color: var(--white-lilac);
  border: 1px solid var(--whisper);
  border-radius: 8px;
  padding: 32px 20px 20px 20px;
  display: flex;
  gap: 32px;

  width: 400px;

  @media (width <= 432px) {
    width: calc(100% - 32px);
  }

  position: relative;
  overflow: hidden;

  .icon {
    position: absolute;
    bottom: -8px;
    height: 95px;
    width: 95px;
  }

  .text {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    text-align: start;
  }

  .title {
    color: var(--lynch);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
  }

  .link {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    text-decoration-line: underline;
  }
}
