@import "@/styles/breakpoints";

.root {
  background-color: var(--white-lilac);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
  padding: 26px 50px;

  @media (width <= $breakpoint-md) {
    flex-direction: column;
    gap: 16px;
    padding: 16px 20px;
  }

  border-radius: 8px;

  margin-bottom: 42px;

  .filter {
    display: flex;

    flex-direction: column;
    gap: 4px;
    flex: 1;
    width: 100%;

    &__label {
      color: var(--text-color-secondary);
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }

    .search {
      &__input {
        width: 100%;
      }

      &__icon {
        cursor: pointer;
      }
    }
  }
}
