@import "@/styles/breakpoints";

.root {
  background-color: var(--white-lilac);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 38px;
  padding: 26px 50px;

  @media (width <= $breakpoint-md) {
    flex-direction: column;
    gap: 16px;
    padding: 16px 20px;
  }

  border-radius: 8px;

  margin-bottom: 42px;

  .filter {
    display: flex;

    flex-direction: column;
    gap: 4px;
    flex: 1;
    width: 100%;

    &__label {
      color: var(--lynch);
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }

    .search {
      &__input {
        width: 100%;
      }

      &__icon {
        cursor: pointer;
        color: var(--lynch);
      }
    }

    .calendar {
      :global {
        .p-inputtext {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border-right-width: 0;
        }
        .p-datepicker-trigger {
          background-color: white;
          border-color: transparent;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-left-width: 0;

          color: var(--lynch);
        }
      }
    }
  }
}
