.root {
  background-color: var(--white-lilac);
  border: 1px solid var(--whisper);
  border-radius: 8px;
  padding: 44px 32px 60px 32px;
  text-align: center;

  width: 400px;

  @media (width <= 432px) {
    width: calc(100% - 32px);
  }

  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;

    gap: 4px;

    position: relative;
  }

  .passwordInput {
    width: 100%;
  }

  .passwordButton {
    position: absolute;
    right: 8px !important;
  }

  .passwordIcon {
    color: var(--text-color-secondary);
  }
}
