@import "@/styles/breakpoints";

.root {
  height: var(--header-height-lg);
  width: var(--menu-item-width-lg);

  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  gap: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  .title {
    font-size: 15px;
    font-style: normal;
    line-height: 17px;

    @media (width <= $breakpoint-md) {
      display: none;
    }

    &__active {
      @extend .title;

      color: var(--white-lilac);
      font-weight: 700;
    }

    &__inactive {
      @extend .title;

      color: var(--ghost);
      font-weight: 600;
    }
  }

  .icon {
    &__active {
      color: var(--white-lilac);
    }
    &__inactive {
      color: var(--ghost);
    }
  }

  .bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2.5px;
    height: 5px;
    width: 100%;
    flex-shrink: 0;

    &__active {
      background-color: var(--primary-color);
    }

    &__inactive {
      background-color: var(--ghost);
    }

    &__start {
      border-radius: 8px 0px 0px 8px;
    }

    &__end {
      border-radius: 0px 8px 8px 0px;
    }
  }

  @media (width <= $breakpoint-lg) {
    height: var(--header-height-md);
    width: var(--menu-item-width-md);
  }

  @media (width <= $breakpoint-md) {
    height: var(--header-height-sm);
    width: var(--menu-item-width-sm);
  }
}
