@import "@/styles/breakpoints";

.root {
  margin-bottom: 32px;

  @media (width <= $breakpoint-md) {
    margin-bottom: 16px;
  }

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;

  .icon {
    margin-right: 4px;
  }
}
