.root {
  height: calc(100dvh - 112px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 30px;

  .container {
    background-color: #f9f9fd;
    border: 1px solid #ecedf5;
    border-radius: 8px;

    padding: 44px 32px 60px 32px;

    text-align: center;
    width: 400px;

    position: relative;
    overflow: hidden;

    &__main {
      @extend .container;

      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__footer {
      @extend .container;

      padding: 20px;
      padding-top: 32px;
      display: flex;
      gap: 32px;

      .footerIcon {
        position: absolute;
        bottom: -8px;
      }

      .footer {
        margin-left: 120px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        text-align: start;
      }

      .footerTitle {
        color: #5f6b8a;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
      }

      .footerLink {
        color: #ff5722;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 17px;
        text-decoration-line: underline;
      }
    }

    .title {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 17px;
    }

    .passwordIconButton {
      cursor: pointer;
      color: #5f6b8a;
    }
  }
}
