@import "@/styles/breakpoints.scss";

.root {
  margin: 0 auto;
  margin-top: var(--header-height-lg);

  @media (width <= $breakpoint-lg) {
    margin-top: var(--header-height-md);
  }

  @media (width <= $breakpoint-md) {
    margin-top: var(--header-height-sm);
  }

  padding-top: 84px;
  padding-inline: 32px;
  max-width: 1170px;

  @media (width <= $breakpoint-md) {
    padding-top: 32px;
    padding-inline: 16px;
  }
}
